
@use '../abstracts' as a;

footer {
    background-color: #ffffff;
    grid-auto-rows: min-content;

    h2{ color: a.$primary-color;}
    
   

    .footerNav {
        font-size: 1rem;
        margin-top: .8;
        margin-left: 3.9rem;

        ul {
            display: inline-flex;
            flex-direction: row;
        }

        ul li {
            padding-bottom: .5rem;
            padding-right: 10px;
            list-style-type: none;
        }
        
        a {
            color: #000000;
            text-decoration: none;
        }
    }
}

#copyright {
    color: rgb(255, 179, 66);
    background-color: #131313;
    text-align: center;
    padding: 7px;
    font-size: .7rem;
}

@media screen and (min-width: 768px) {
    footer {
        background-color: #ffffff;
        grid-auto-rows: min-content;
    
        h2{ color: a.$primary-color;} 
    
        .footerNav {
            font-size: 18px;
            margin-top: 20px;
    
            ul li {
                padding-bottom: .5rem;
            }
            
            a {
                color: #000000;
                text-decoration: none;
            }
        }
    }
    
    
    #copyright {
        font-size: 12px;
    }
    
    }



@media screen and (min-width: 1200px) {
footer {
    background-color: #fff;

    h2{ color: a.$primary-color;}
    
   

    .footerNav {
        font-size: 20px;
        margin-top: 20px;

        ul li {
            padding-bottom: 1rem;
        }
        
        a {
            color: #000000;
            text-decoration: none;
        }
    }
}


#copyright {
    font-size: 12px;
}

}