@use '../abstracts' as a;

#outerShell {
    display: none;
}

@media screen and (min-width: 1200px) { 

    #mobile-tablet-view {
    display: none;
    }  
  
    #outerShell{
      display: block;
      max-width: 1200px;
      margin: auto;
      border: solid 2px #666;
    }
    
    #imageCon {
      position: relative;
      max-width: 1200px;
      height: 750px;
    }
    .slideImage {
      position: absolute; /*images are stacked in order via absolute*/
       left: 0;
       right: 0;
      height: 750px;
    }
    
    .image-right {
      background: url(../images/earbud-x-ray.jpg) no-repeat;
      background-size: cover;
      // background-position: center center;
      // background-attachment: fixed;
    }
    
    .image-left {
      background: url(../images/earbud.jpg) no-repeat;
      width: 50%; /*start the image at the halfway point*/
      background-size: cover;
      // background-position: center center;
      // background-attachment: fixed;
    }
    
    .image-drag {
      background-color: #666;
      left: 50%; /*match up with image left*/
      width: 6px; /*orig 49*/
      cursor: pointer;
    }
  }